
/* ================== ROOT ================== */

:root{
    --first-color: rgb(253, 0, 25);
    --container-color: rgba(0, 0, 0, 0.704);
}


body{
    background-color: black;
}

img{
    width: 100%;
    height: auto;
}



/* ================== lAYOUT ================== */

.d-grid{
    display: grid;
}

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.d-none{
    display: none!important;
}

.d-flex {
    display: flex;
} 

.justify-content-between {
    justify-content: space-between;
}

.container{
    padding: 0.5rem 1rem;
}

/* ================== REUSABLE ================== */

.section-title{
    display: flex;
    align-items: center;
    text-align: center;
}


.section-title .img{
    width: 150px;
    border-radius: 100%;
    padding-top: 1rem;
}

.section-title .img img{
    border-radius: 100%;
    height: 125px;
}

.section-title span{
    padding: 0 1rem;
    font-weight: 600;
    font-size: 2rem;
    display: none;
}

/* ================== HEADER ================== */

.header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.input {
    padding: 1rem;
    border-radius: 25px;
    border: 2px solid black;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search input{
    width: 100%;
}



.search label{
    display: none;
}

.search button{
    position: absolute;
    right: 0;
    border-radius: 100%;
    padding: 0.8rem;
    border: none;
}

.search button i{
    font-size: 1.25rem;
}


/* ================== CARD ================== */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
    /* border: 1px solid var(--first-color); */
    border-radius: 25px;
    background-color: var(--container-color);
}

.card:hover{
    transform: scale(1.03);
    transition: all 0.1s ease-in;
}

.card h2{
    color: white;
}

.card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card-body h2{
    text-transform: capitalize;
}

.id-company{
    color: white;
}


.button {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    /* max-height: 50px; */
}

.text-color{
    color: white;
}

.text-color-red{
    color: red;
}

/* ================== DIALOG ================== */

::backdrop {
    background-color: var(--container-color);
    opacity: 0.75;
}

dialog{
    border-radius: 25px;
    border: none;
    max-width: 600px;
}


.dialog-buttons{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--container-color);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.dialog-body h2{
    text-transform: capitalize;
}

.dialog-buttons button{
    background: none;
}


.marvel{
    box-shadow: var(--first-color) 0px 2px 4px 1px;
}

.dc{
    box-shadow: blue 0px 2px 4px 1px;
}

/* ================== BREAKPOINTS ================== */

@media (min-width: 992px) {
    .col-lg-3{
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
    } 

    .section-title{
        text-align: start;
    }

    .header{
        flex-direction: row;
    }

    .header select{
        margin-right: 1rem;
    }

    .search input{
        max-width: 400px;
    }

    .section-title span{
        display: block;
    }

    .search button{
        position: relative;
        right: 50px;
    }
}


